html, body{
	margin: 0; 
	padding: 0; 
	height:100%;  
}

.menu{
  position: absolute;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}
.menu_li{
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: rgb(46, 52, 54);
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.menu li{
	
}

.menu li a{
	
}

.menu li a:hover{
	
}
.card{
	border:2px solid;
}
.btn-primary {
	margin:10px;
    color: #1d2124;
    background-color: #ced4da;
    border-color: #dae0e5;
}
.cd_cliente{
	width: 500px;
    display: flex;
    position: absolute;
    margin-left: 32pc;
    margin-top: -35pc;
}
@media  screen and (max-width: 1500px){
@media  screen and (min-width: 901px){
	
	}
}
@media  screen and  (max-width:990px) {
	.menu{
		
	}
	.menu_li{
	
	}
	.menu li{
	
	}
	
	.menu li a{
		
	}

	.menu li a:hover{

	}		
	.cd_cliente{
		display:none;
	}
}
